.featuredContent {
  display: flex;
  flex-direction: row;
  max-height: 60%;
  padding: 16px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  margin-bottom: 3vh;
}

.featuredContentImage {
  width: 16.25rem;
  height: 16.25rem;
  margin-right: 3rem;
}

.featuredContentTagContainer {
  display: flex;
  flex-direction: column;
}
.featuredContentTagsContainer {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.featuredContentTags {
  width: 1.25rem;
  height: 1.25rem;
}

.featuredContentMetadataContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.featuredContentMetadataContainer p {
  margin-right: 16px;
  font-weight: 200;
}

.featuredContentHeader {
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.featuredContentTitle {
  font-size: 1.5rem;
  margin-top: 4px;
  margin-bottom: 8px;
}

.featuredContentDesc {
  font-size: 1rem;
  line-height: 1.5;
  text-overflow: ellipsis;
  max-width: 50ch;
  max-height: 20ch;
  color: rgb(54, 77, 89);
  max-lines: 3;
}
