.container {
  padding: 2% 20%;
  margin-top: -100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heroBanner {
  display: flex;
  width: 100%;
  height: 70vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}



.sideContentContainer {
  background-color: white;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  padding: 24px;
}

.sideContent {
  display: flex;
  align-items: center;
}

.sideContentImage {
  width: 80px;
  height: 80px;
  margin-right: 16px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.courseBox {
  transition: box-shadow .3s;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px 36px;
  background-color: #f8f9fa;
  align-items: center;
  justify-content: center;
}

.courseBox p {
  transition: color .3s;
}

.courseBox:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.courseBox:hover p {
  color: #000000;
}

.courseBoxIcon {
  width: 5vw;
  height: 3.8vw;
}

.courseBoxContainer {
  display: flex;
  justify-content: space-between;
}

.mainContainer {
  padding: 2% 20%;
}

.courseBox p {
  color: #CCCCCC;
  font-size: 16px;
}

.courseListContainer {
  display: flex;
  justify-content: space-between;
}

.sideCourseImg {
  width: 20vw;
  height: 12vw;
}

.reviewPersonImage {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.reviewContactContainer {
  display: flex;
}

.footer {
  padding: 2% 20%;
  display: flex;
  justify-content: space-between;
}

.footerContent {
  flex: 2;
}

.footerSection {
  flex: 1;
}

.footerSectionContainer {
  display: flex;
  flex: 4;
}