.footer {
  padding: 2% 20%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.footerContent {
  flex: 2;
}

.footerSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerSectionContainer {
  display: flex;
  flex: 4;
}

.footerSectionHeader {
  margin-bottom: 24px;
}

.footerSectionItem {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.7;
  font-weight: 300;
  font-size: 16px;
}
